@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #F2F8FF;
}

.shadow{
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.flex{
  display: flex;
}

.centerX{
  justify-content: center;
}

.spaceBetween{
  justify-content: space-between;
}

.centerY{
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.text{
  color: #1A1882;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
}

.text.shipInfo.free{
  width: 250px;
}

.header{
  height: 90px;
  padding: 0px 200px;
  background-color: white;
  border-bottom: 0.2rem solid #1A1882;
}

.left.headerContent{
  width: 250px;
}

.navigation{
  margin: 0;
  padding: 0;
  order: 2;
  list-style: none;
  height: 60%;
  width: 250px;
  gap: 10px;
}
  

.btn{
  background-color: #1A1882;
  color: white;
  border-radius: 10px;
}

.btn.nav{
  padding: 12px 16px;
  font-size: 22px;
}

.btn.nav:hover{
  background-color: #283593;
}

.logoImgHeader{
  max-height: 85%;
  order: 1;
}

.infoBox{
  margin-top: 25px;
  margin-bottom: 25px;
  flex-basis: 100%;
}

.infoBoxContent{
  max-height: 70px;
  background-color: white;
  outline: 1.5px solid #1A1882;
  border-radius: 10px;
  align-items: center;
}

.infoBoxIcon{
  margin: 0 0 0 5px;
  color: #1A1882;
  font-size: 3rem;
  padding: 0 10px;
}

.infoBoxText{
  margin-right: 15px;
}


.search{
  justify-content: left;
  flex-basis: 17%;
  max-height: 50px;
}

.box.orderInfo{
  text-align: center;
  flex-basis: 40%;
  margin-right: 15%;
}

.text.orderInfo{
  font-size: 15px;
  font-weight: 300;
}

.boxItems{
  margin-top: 10px;
  flex-basis: 70%;
  min-height: 70%;
}

.list.cartItems{
  flex-basis: 100%;
  background-color: yellow;
  margin: 20px;
  list-style: none;
}

.listItemCart{
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}

.boxItem{
  justify-content: left;
  height: 300px;
  max-width: 180px;
}

.boxItemCart{
  background-color: red;
}

.boxImg{
  max-height: 200px;
  flex-basis: 100%;
  padding: 20px 0px;
  outline: 2px solid #1A1882;
  border-radius: 5px;
  background-color: white;
}

.boxImgCart{
  max-height: 100px;
  max-width: 100px;
  padding: 5px 0;
  outline: 1.5px solid #1A1882;
  border-radius: 5px;
  background-color: white;
}

.imgItem{
  max-width: 100%;
  max-height: 100%;
}

.text.item{
  color: black;
  margin: 4px 0px 0px 5px;
  flex-basis: 100%;
}

.text.item.brand{
  margin-top: 3px;
  font-weight: 500;
}

.text.item.name{
  font-size: 16px;
  margin-top: 0px;
}


.boxPriceBtn{
  min-height: 40px;
  flex-basis: 100%;
  justify-content: space-between;
}

.text.item.price{
  max-width: 60px;
  margin-right: 0px;
  font-size: 16px;
  margin-bottom: 1px;
} 

.listItems{
  column-gap: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem{
  flex-basis: 200px;
  margin-bottom: 40px;
}

.form{
  margin-top: 10px;
  flex-flow: column;
}

.boxLogoWelcome{
  margin-top: 30px;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.text.welcome{
  margin-top: 0px;
  margin-bottom: 0;
  text-align: center;
  font-size: 42px;
  flex-basis: 100%;
}

.MuiOutlinedInput-notchedOutline{
  border-color: #1A1882 !important;
}

.line{
  flex-basis: 100%;
  min-height: 2px;
  background-color: #1A1882;
  margin-top: 65px;
}

.boxBottomBtn{
  margin-top: 40px;
  max-width: 450px;
}

.boxTextBottomBtn{
  flex-basis: 100%;
  justify-content: left;
  max-height: 40px;
}

.text.bottomBtn{
  color: black;
  font-size: 25px;
  font-weight: 600;
}

.text.register{
  margin-top: 0px;
  margin-bottom: 0;
  text-align: center;
  font-size: 38px;
  flex-basis: 100%;
}

.text.register.bottom{
  margin-top: -6px;
  font-size: 24px;
}

.boxForm{
  background-color: white;
  max-width: 550px;
}

.boxForm.register{
  margin-top: 2%;
}

.boxForm.login{
  margin-top: 4%;
}

.bodyCartPage{
  margin-top: 70px;
  height: 70%;
  gap: 50px;
}

.bodyCartContent{
  border-radius: 5px;
  background-color: white;
}

.orderDetailsCart{
  max-height: 613px;
  padding: 20px 20px 10px 20px;
  flex-basis: 28%;
}

.summaryCart{
  flex-basis: 25%;
}

.orderDetailsForm{
  width: 470px;
}

.boxText{
  flex-basis: 100%;
  max-height: 60px;
  gap: 10px;
  margin-bottom: 25px;
}

.text.orderDetails{
  font-size: 30px;
  font-weight: 450;
}

.orderDetailsBtnBox{
  flex-basis: 100%;
}

.icon.itemBtn{
  margin-right: 3px;
  font-size: 20px;
}

.icon.nav{
  margin-top: 2px;
  font-size: 23px;
}