@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
}

body{
  width: 100vw;
  margin: 0;
  background-color: #F2F8FF;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(26,24,130,0.3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(26,24,130,0.6);
}

.shadow{
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.flex{
  display: flex;
}

.centerX{
  justify-content: center;
}

.spaceBetween{
  justify-content: space-between;
}

.centerY{
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.text{
  color: #1A1882;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
}

.header{
  height: 90px;
  padding: 0px 200px;
  background-color: white;
  border-bottom: 0.2rem solid #1A1882;
}

.left.headerContent{
  width: 250px;
}

.navigation{
  margin: 0;
  padding: 0;
  order: 2;
  list-style: none;
  height: 60%;
  width: 250px;
  gap: 10px;
}

.btn{
  background-color: #1A1882;
  color: white;
  border-radius: 10px;
}

.btn.nav{
  padding: 12px 16px;
  font-size: 22px;
}

.btn.nav:hover{
  background-color: #283593;
}

.logoImgHeader{
  max-height: 85%;
  order: 1;
}

.infoBox{
  margin-top: 25px;
  margin-bottom: 25px;
  flex-basis: 100%;
}

.infoBoxContent{
  max-height: 70px;
  background-color: white;
  outline: 1.5px solid #1A1882;
  border-radius: 10px;
  align-items: center;
}

.infoBoxIcon{
  margin: 0 0 0 5px;
  color: #1A1882;
  font-size: 3rem;
  padding: 0 10px;
}

.infoBoxText{
  margin-right: 15px;
}


.search{
  justify-content: left;
  flex-basis: 17%;
  max-height: 50px;
}

.box.orderInfo{
  text-align: center;
  flex-basis: 40%;
  margin-right: 15%;
}

.text.orderInfo{
  font-size: 15px;
  font-weight: 300;
}

.boxItems{
  margin-top: 10px;
  flex-basis: 70%;
  min-height: 70%;
}

.boxItem{
  justify-content: left;
  height: 300px;
  max-width: 180px;
}

.boxImg{
  max-height: 200px;
  flex-basis: 100%;
  padding: 20px 0px;
  outline: 2px solid #1A1882;
  border-radius: 5px;
  background-color: white;
}

.imgItem{
  max-width: 100%;
  max-height: 100%;
}

.text.item{
  color: black;
  margin: 4px 0px 0px 5px;
  flex-basis: 100%;
}

.text.item.brand{
  margin-top: 3px;
  font-weight: 500;
}

.text.item.name{
  font-size: 16px;
  margin-top: 0px;
}

.text.item.price{
  max-width: 60px;
  margin-right: 0px;
  font-size: 16px;
  margin-bottom: 1px;
} 

.boxPriceBtn{
  min-height: 40px;
  flex-basis: 100%;
  justify-content: space-between;
}

.listItems{
  column-gap: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem{
  flex-basis: 200px;
  margin-bottom: 40px;
}

.form{
  margin-top: 10px;
  flex-flow: column;
}

.boxLogoWelcome{
  margin-top: 30px;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.text.welcome{
  margin-top: 0px;
  margin-bottom: 0;
  text-align: center;
  font-size: 42px;
  flex-basis: 100%;
}

.MuiOutlinedInput-notchedOutline{
  border-color: #1A1882 !important;
}

.line{
  flex-basis: 100%;
  min-height: 2px;
  background-color: #1A1882;
  margin-top: 65px;
}

.boxBottomBtn{
  margin-top: 40px;
  max-width: 450px;
}

.boxTextBottomBtn{
  flex-basis: 100%;
  justify-content: left;
  max-height: 40px;
}

.text.bottomBtn{
  color: black;
  font-size: 25px;
  font-weight: 550;
}

.text.register{
  margin-top: 0px;
  margin-bottom: 0;
  text-align: center;
  font-size: 38px;
  flex-basis: 100%;
}

.text.register.bottom{
  margin-top: -6px;
  font-size: 24px;
}

.boxForm{
  background-color: white;
  max-width: 550px;
}

.boxForm.register{
  margin-top: 2%;
}

.boxForm.login{
  margin-top: 4%;
}

.bodyCartPage{
  margin-top: 70px;
  height: 70%;
  gap: 50px;
}

.orderDetailsCart{
  max-height: 617px;
  padding: 20px 20px 10px 20px;
  flex-basis: 28%;
  background-color: white;
}

.summaryCart{
  max-width: 425px;
  background-color: white;
  flex-basis: 20%;
}

.list.cartItems{
  min-width: 344px;
  max-width: 344px;
  flex-basis: 100%;
  margin: 40px;
  margin-bottom: 0px; 
  list-style: none;
  border-bottom: 1.5px solid #1A1882;
}

.orderDetailsForm{
  width: 470px;
}

.boxText{
  flex-basis: 100%;
  max-height: 60px;
  gap: 10px;
  margin-bottom: 25px;
}

.text.orderDetails{
  font-size: 30px;
  font-weight: 450;
}

.orderDetailsBtnBox{
  flex-basis: 100%;
}

.icon.itemBtn{
  margin-right: 3px;
  font-size: 20px;
}

.icon.nav{
  margin-top: 2px;
  font-size: 23px;
}

.text.itemCart{
  color: black;
  margin: 4px 0px 0px 4px;
}

.text.itemCart.brand{
  flex-basis: 100%;
  font-weight: 500;
  max-height: 25px;
  margin-top: 10px;
}

.text.itemCart.name{
  flex-basis: 100%;
  font-size: 14px;
  margin-top: -3px;
}

.text.itemCart.price{
  font-weight: 500;
  flex-basis: 20%;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
} 

.boxBrandNameBtnCart{
  flex-basis: 50%;
  margin-left: 3px;
}

.boxImgCart{
  flex-basis: 24%;
  max-height: 80px;
  max-width: 80px;
  padding: 5px 0;
  outline: 1.5px solid #1A1882;
  border-radius: 5px;
  background-color: white;
}

.listItemCart{
  margin-bottom: 25px;
  flex-basis: 100%;
  max-height: 80px;
}

.cartItems .listItemCart:last-child {
  margin-bottom: 35px;
}

.boxTextSum{
  margin: 10px 40px 0px 40px; 
  flex-basis: 100%;
}

.boxTextSum:last-of-type {
  border-top: 1.5px solid #1A1882;
}

.text.sum{
  margin: 0;
  font-size: 16px;
  color: black;
}

.text.sum.CartLabel{
  font-weight: 500;
  margin-left: 10px;
  flex-basis: 72%;
}

.text.sum.Cart{
  text-align: center;
  flex-basis: 20%;
  font-weight: 500;
  font-size: 16px;
}

.text.sum.total{
  padding: 20px 0 40px 0;
  font-size: 20px;
  font-weight: 800;
}

.text.sum.CartLabel.total{
  flex-basis: 70%;
}

.text.sum.Cart.total{
  flex-basis: 30%;
}

.text.emptyCart{
  margin-top: -9px;
  padding-bottom: 8px;
  font-size: 30px;
  font-weight: 450;
}

@media (max-width: 1600px) {
  .logoImgHeader{
    max-height: 75%;
    order: 1;
  }
  .text{
    font-size: 16px;
  }
  .infoBoxIcon{
    margin: 0 0 0 5px;
    color: #1A1882;
    font-size: 2.5rem;
    padding: 0 10px;
  }

  .listItems{
    column-gap: 40px;
  }
  .listItem{
    flex-basis: 150px;
    margin-bottom: 20px;
  }
  .boxImg{
    padding: 10px 0px;
    max-height: 150px;
  }
  .boxItems{
    margin-top: 5px;
  }
  .boxItem{
    height: 225px;
  }
  
  .text.item.brand{
    margin-top: 0px;
    font-size: 16px;
  }
  
  .text.item.name{
    margin-top: -5px;
    font-size: 14px;
  }
  
  .text.item.price{
    font-size: 14px;
  } 
  
  .boxPriceBtn{
    margin-top: 5px;
    min-height: 0px;
  }

  .icon.nav{
    margin-top: 2px;
    font-size: 21px;
  }
  .navigation{
    width: 200px;
    gap: 8px;
  }
  .left.headerContent{
    width: 200px;
  }
  .search{
    justify-content: left;
    flex-basis: 13%;
  }
  .infoBox{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .text.orderInfo{
    font-size: 13px;
    font-weight: 300;
  }
  .box.orderInfo{
    margin-top: 10px;
  }
  .icon.itemBtn{
    margin-right: 3px;
    font-size: 18px;
  }
  .boxLogoWelcome{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .boxLogoWelcome.register{
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .logoImgForm{
   max-height: 85px;
  }
  .text.welcome{
    font-size: 38px;
    margin-top: -8px;
  }
  .boxForm{
    max-width: 450px;
  }
  .boxForm.login{
    margin-bottom: -20px;
    margin-top: 3%;
  }
  .boxBottomBtn{
    margin-top: 20px;
  }
  .text.bottomBtn{
    font-size: 23px;
  }
  .text.register{
    margin-top: -8px;
    font-size: 28px;
  }
  .text.register.bottom{
    font-size: 18px;
  }
  .boxForm.register{
    margin-bottom: -20px;
  }
  .orderDetailsForm{
    width: 400px;
  }
  .bodyCartPage{
    margin-top: 50px;
    gap: 50px;
  }
  .text.orderDetails{
    font-size: 28px;
    font-weight: 450;
  }
  .text.emptyCart{
    font-size: 28px;
    margin-top: -9px;
    margin-bottom: 25px;
    padding-bottom: 0px;
  }
  .boxText.orderDetails{
    margin-bottom: 10px;
  }
  .orderDetailsCart{
    padding: 20px 20px 10px 30px;
    max-height: 510px;
  }
  
}

.completeBox{
  padding: 15px 0;
  margin-top: 10%;
  max-width: 500px;
  background-color: white;
}

.none{
  display: none;
}

.center{
  justify-content: center;
}

.complete{
  margin: 0;
  text-align: center;
  flex-basis: 100%;
}

.complete.text{
  color: black;
}

.complete.text.big{
  font-weight: 700;
  font-size: 26px;
}

.complete.text.small{
  margin-top: 2px;
  font-size: 18px;
}


.icon.complete{
  font-size: 70px;
  color: #1A1882;
}

