@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
}

body{
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-color: #F2F8FF;
}

.bodyPage{ 
  position: relative;
  align-items: start;
  gap: 50px;
}

.bodyPage.adminPage, .bodyPage.homePage{
  gap: 0px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(26,24,130,0.3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(26,24,130,0.6);
}

.shadow{
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.flex{
  display: flex;
}

.centerX{
  justify-content: center;
}

.spaceBetween{
  justify-content: space-between;
}

.centerY{
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.text{
  color: #1A1882;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
}

.headerContainer{
  position: sticky;
  top: 0;
  z-index: 10;
  height: 90px;
  padding: 0px 200px;
  background-color: white;
  border-bottom: 0.2rem solid #1A1882;
}

.left.headerContent{
  width: 250px;
}

.navigation{
  margin: 0;
  padding: 0;
  order: 2;
  list-style: none;
  height: 60%;
  width: 250px;
  gap: 10px;
}

.btn{
  background-color: #1A1882;
  color: white;
  border-radius: 10px;
}

.btn.nav{
  padding: 12px 16px;
  font-size: 22px;
}

.btn.nav:hover{
  background-color: #283593;
}

.logoImgHeader{
  max-height: 85%;
  order: 1;
}

.infoBox{
  margin-top: 25px;
  margin-bottom: 25px;
  flex-basis: 100%;
}

.infoBoxContent{
  max-height: 70px;
  background-color: white;
  outline: 1.5px solid #1A1882;
  border-radius: 10px;
  align-items: center;
}

.infoBoxIcon{
  margin: 0 0 0 5px;
  color: #1A1882;
  font-size: 3rem;
  padding: 0 10px;
}

.infoBoxText{
  margin-right: 15px;
}


.search{
  justify-content: left;
  flex-basis: 17%;
  max-height: 50px;
}

.box.orderInfo{
  text-align: center;
  flex-basis: 40%;
  margin-right: 15%;
}

.text.orderInfo{
  font-size: 15px;
  font-weight: 300;
}

.boxItems{
  margin-top: 10px;
  flex-basis: 70%;
  min-height: 70%;
}

.boxItem{
  justify-content: left;
  height: 300px;
  max-width: 180px;
}

.boxImg{
  max-height: 200px;
  flex-basis: 100%;
  padding: 20px 0px;
  outline: 2px solid #1A1882;
  border-radius: 5px;
  background-color: white;
}

.imgItem{
  max-width: 100%;
  max-height: 100%;
}

.text.item{
  color: black;
  margin: 4px 0px 0px 5px;
  flex-basis: 100%;
}

.text.item.brand{
  margin-top: 3px;
  font-weight: 500;
}

.text.item.name{
  font-size: 16px;
  margin-top: 0px;
}

.text.item.price{
  max-width: 60px;
  margin-right: 0px;
  font-size: 16px;
  margin-bottom: 1px;
} 

.boxPriceBtn{
  min-height: 30px;
  flex-basis: 100%;
  justify-content: space-between;
}

.listItems{
  column-gap: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem{
  flex-basis: 200px;
  margin-bottom: 40px;
}

.form{
  flex-flow: column;
  margin-bottom: 20px;
}

.form.register{
  margin-bottom: 15px;
  gap: 10px;
}

.form.login{
  gap: 10px;
}

.formShipDetails{
  width: 100%;
  margin-bottom: 20px;
  margin-top: -16px;
  gap: 13px;
  row-gap: 5px;
}

.boxWelcome{
  margin-top: 20px;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.boxWelcome.register{
  margin-bottom: 0;
}

.text.welcome{
  text-align: center;
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 2.7rem;
  flex-basis: 100%;
}

.line{
  flex-basis: 100%;
  height: 2px;
  background-color: #1A1882;
}

.boxBottomBtn{
  margin-top: 40px;
  width: 25%;
  min-width: 450px;
}

.boxTextBottomBtn{
  width: 65%;
}

.text.bottomBtn{
  padding: 0;
  margin: 0;
  color: black;
  font-size: 25px;
  font-weight: 550;
}

.text.register{
  margin: 0;
  text-align: center;
  font-size: 1.7rem;
  margin-top: -18px;
}

.text.register.bottom{
  margin-top: -20px;
  font-size: 1rem;
}

.boxForm{
  background-color: white;
  width: 25%;
  min-width: 450px;
}

.boxForm.register{
  min-width: 425px;
  margin: 2% 0 ;
}

.boxForm.login{
  margin: 4% 0;
}

.shipDetailsCart{
  position: sticky;
  top: 128px;
  min-height: 500px;
  min-width: 450px;
  width: 23%;
  background-color: white;
}

.summaryCart{
  max-width: 425px;
  background-color: white;
}

.summaryCartListContainer{ 
  width: 343px;
  margin: 0px 40px 0px 40px;
  border-bottom: 1.5px solid #1A1882;
}

.list.cartItems{
  margin-top: 20px;
  list-style: none;
  flex-basis: 100%;
}

.list.cartItems:last-child{
  margin-bottom: 20px;
}


.shipDetailsFormContainer{
  width: 85%;
  padding-bottom: 30px;
}

.shipDetailsBtnBox{
  flex-basis: 100%;
}

.icon.itemBtn{
  margin-right: 3px;
  font-size: 20px;
}

.icon.nav{
  margin-top: 2px;
  font-size: 23px;
}

.text.itemCart{
  color: black;
  margin: 4px 0px 0px 4px;
}

.text.itemCart.brand{
  flex-basis: 100%;
  font-weight: 500;
  max-height: 25px;
  margin-top: 10px;
}

.text.itemCart.name{
  flex-basis: 100%;
  font-size: 14px;
  margin-top: -3px;
}

.text.itemCart.price{
  font-weight: 500;
  flex-basis: 20%;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
} 

.boxBrandNameBtnCart{
  flex-basis: 50%;
  margin-left: 3px;
}

.boxImgCart{
  flex-basis: 24%;
  max-height: 80px;
  max-width: 80px;
  padding: 5px 0;
  outline: 1.5px solid #1A1882;
  border-radius: 5px;
  background-color: white;
}

.listItemCart{
  flex-basis: 100%;
  max-height: 80px;
}

.boxTextSum{
  margin: 10px 40px 0px 40px; 
  flex-basis: 100%;
}

.boxTextSum:last-of-type {
  border-top: 1.5px solid #1A1882;
}

.text.sum{
  margin: 0;
  font-size: 16px;
  color: black;
}

.text.sum.CartLabel{
  font-weight: 500;
  margin-left: 10px;
  flex-basis: 72%;
}

.text.sum.Cart{
  text-align: center;
  flex-basis: 20%;
  font-weight: 500;
  font-size: 16px;
}

.text.sum.total{
  padding: 20px 0 40px 0;
  font-size: 20px;
  font-weight: 800;
}

.text.sum.CartLabel.total{
  flex-basis: 70%;
}

.text.sum.Cart.total{
  flex-basis: 30%;
}

.text.summaryCartHeaders{
  font-size: 30px;
  font-weight: 450;
}

@media (max-width: 1600px) {
  .logoImgHeader{
    max-height: 75%;
    order: 1;
  }
  .text{
    font-size: 16px;
  }
  .infoBoxIcon{
    margin: 0 0 0 5px;
    color: #1A1882;
    font-size: 2.5rem;
    padding: 0 10px;
  }

  .listItems{
    column-gap: 40px;
  }
  .listItem{
    flex-basis: 150px;
    margin-bottom: 20px;
  }
  .boxImg{
    padding: 10px 0px;
    max-height: 150px;
  }
  .boxItems{
    margin-top: 5px;
  }
  .boxItem{
    height: 225px;
  }
  
  .text.item.brand{
    margin-top: 0px;
    font-size: 16px;
  }
  
  .text.item.name{
    font-size: 14px;
  }
  
  .text.item.price{
    font-size: 14px;
  } 

  .icon.nav{
    margin-top: 2px;
    font-size: 21px;
  }
  .navigation{
    width: 200px;
    gap: 8px;
  }
  .left.headerContent{
    width: 200px;
  }
  .search{
    justify-content: left;
    flex-basis: 13%;
  }
  .infoBox{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .text.orderInfo{
    font-size: 13px;
    font-weight: 300;
  }
  .box.orderInfo{
    margin-top: 10px;
  }
  .icon.itemBtn{
    margin-right: 3px;
    font-size: 18px;
  }
  
  .boxBottomBtn{
    margin-top: 20px;
  }
  .text.bottomBtn{
    font-size: 23px;
  }
  .text.shipDetails{
    font-size: 28px;
    font-weight: 450;
  }
}
.shipDetailsForm{
    width: 400px;
  }

.completeBox{
  padding: 15px 0;
  margin-top: 10%;
  max-width: 500px;
  background-color: white;
}

.none{
  display: none;
}

.complete{
  margin: 0;
  text-align: center;
  flex-basis: 100%;
}

.complete.text{
  color: black;
}

.complete.text.big{
  font-weight: 700;
  font-size: 26px;
}

.complete.text.small{
  margin-top: 2px;
  font-size: 18px;
}


.icon.complete{
  font-size: 70px;
  color: #1A1882;
}

.text.header{
  max-width: 350px;
  margin: 20px 0px 20px 10px;
  font-size: 28px;
  font-weight: 500;
}

.box.header{
  flex-basis: 95%;
  border-bottom: 1px solid rgba(26,24,130,0.3);
}

.box.orderDetailsHeader{
  flex-basis: 90%;
  gap: 20px;
}

.box.orderDetails{
  position: sticky;
  top: 128px;
  text-align: left;
  background-color: white;
}

.text.orderDetails.info{
  margin: 0;
  margin-top: 3%;
  color: black;
  font-size: 1rem;
  flex-basis: 100%;
  font-weight: 600;
}

.text.orderDetails.info.data{
  font-size: 0.95rem;
  font-weight: 400;
}

.text.orderDetails.info.data.address{
  margin-top: 0;
}

.box.orderDetailsContent{
  max-width: 500px;  
} 

.text.itemOrderDetails{
  margin: 0;
  color: black;
  font-size: 12px;
  flex-basis: 100%;
}

.orderDetailsInfo{
  flex-basis: 50%;
}

.tableContainer{
    max-width: 30%;
    min-width: 576px;
    background-color: white;
}

.tableContainer.products{
  min-width: 600px;
}

.tableContainer.users{
  min-width: 576px;
}

.tableContainer.orders{
  max-width: 70%;
  min-width: 740px;
}

.orderDetailsItems{
  margin: 20px 0px;
  flex-basis: 100%;
}

.displayOrderDetails{
  justify-content: space-between;
  max-width: 90%;
}


.listItemOrderDetails{
  margin: 10px 0;
  flex-basis: 50%;
  max-height: 80px;
  font-size: 14px;
}

.text.itemOrderDetails.brand{
  font-size: 16px;
  font-weight: 500;
}

.boxItemOrderDetailsProps{
  flex-basis: 60%;
  max-height: 60px;
  margin-left: 4%;
}

.box.displayAlertOrderDetails{
  margin: 0px 3%;
}

.detailsBtn.info{
  color: #1A1882;
  font-size: 1.25rem;
  margin: 0 0 6% 0;
  text-align: center;
}

.icon.detailsBtn.info{
  margin: 3% 0 0 0;
  font-size: 2.5rem;
}

.boxImgOrderDetails{
  max-height: 80px;
  max-width: 80px;
  padding: 5px 0;
  outline: 1.5px solid #1A1882;
  border-radius: 5px;
  background-color: white;
}

.pageContent{
  margin-bottom: 2%;
  margin-top: 2%;
}

.pageContent.adminPage{
  justify-content: center;
  max-width: 1150px;
  margin-left: 25px;
  flex-basis: 70%;
}

.menu.adminPage{
  position: sticky;
  top: 128px;
  background-color: white;
  padding-bottom: 2%;
  min-width: 350px;
  min-height: 400px;
  flex-direction: column;
  flex-basis: 20%;
  gap: 10px;
}

.adminProducts{
  justify-content: center;
  align-items: start;
  gap: 25px;
}

.addProductContainer{
  padding-bottom: 30px;
  width: 450px;
  align-items: start;
  background-color: white;
}

.inputsAddProduct{
  gap: 5px;
  flex-basis: 55%;
}

.previewImg{
  max-width: 100%;
  max-height: 100%;
}

.boxImgAddAdmin{
  height: 175px;
  width: 175px;
  padding: 20px 20px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10%;
}

.addProductBody{
  align-items: start;
  flex-basis: 90%;
}


.addProductContent{
  margin-top: 5%;
}

.addProductBtnContainer{
  margin-top: 6%;
  flex-basis: 100%;
}

.linkLogoImg.register{
  min-height: 80px;
  height: 53%;
}

.linkLogoImg.login{
  height: 60%;
}


.logoImgForm{
  height: 100%;
}

.inputShipDetails{
  margin: 20px;
}

.boxText{
  width: 100%;
  height: 100px;
}

.errorContainer{
  text-align: right;
  margin-bottom: 1px;
}

.text.error{
  color: #C1292E;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.defaultBorder{
  outline: 1.5px solid #1A1882;
}

.errorBorder{
  outline: 1.5px solid #C1292E;
}

.page{
  position: relative;
}

.completeBtn{
  margin: 6% 0 5% 0;
  flex-basis: 100%;
}